h3 {
    text-align: center;
    text-decoration: underline;
}

.container {
    background-color: lightblue;
    margin: 5em;
    overflow: auto;
    display: flex;
    overflow: auto;
}

.flex-item {
    overflow: auto;
    display: flex;
    width: 100%;
}

/* .flex-text {
    font-family:'Times New Roman', Times, serif;
} */

image {
    max-width: 100%;
    max-height: 100%;
}

#image-right {
    float: right;
    width: 200px;
    height: 200px;
}

#img-left {
    float: left;
    width: 200px;
    height: 200px;
}