#goal {
    text-align: center;
}

.subtitle {
    justify-content: center;
    display: flex;
    background-color: lightblue;
    border-radius: 1em;
    margin: 2em 5em -7em 5em;
    padding: 1.7em;
}

.flex-subtitle {
    margin: 5em;
}

.container {
    background-color: lightblue;;
    display: flex;
    overflow: hidden;
    max-width: 1500px;
    border-radius: 1em;
    padding: 1em;
    margin: 5em;
    justify-content: center;
}

#quote-col { 
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 275%;
    display: block;
    align-items: center;
    padding-top: 3em;
}

image {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

#home-img { 
    max-width: 500px;
    max-height: 500px;
    float: right;
    padding: 3em;
    opacity: 0.75;
} 

/* Media query */
@media all and (max-width: 500px) {
    #quote-col {
        padding: 0;
    }
}