@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1e1e1e;
}

/* HEADER */

header {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 5em 0 5em;
}

h1 {
    color: lightblue;
    font-size:xx-large;
}

.nav {
    color: lightblue;
    display: flex;
    list-style: none;
    float: right;
    align-content: end; 

}

.nav a {
    text-decoration: none;
    margin:0.5em;
    color: lightblue;
}

.current {
    text-decoration: underline;
}

/* MAIN */

h2 {
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
}

.footer-img {
    max-height: auto;
    max-width: 5%;
}  

/* Media Query */

/* Media query */
@media all and (max-width: 500px) {
    .container {
        justify-content: center;
    }

    img {
        display: none;
    }
}