* {
    color: purple;
    padding: 5px;
}

header {
    background-color: white;
}

#container {
    display: flex;
    align-items: center;
} 

.name-col {
    margin: 0 200px 0 0;
    font-size: 120%;
}

.page-col {
    margin: 0 0 0 500px;
    font-size: 200%;
}

.home-image {
    max-width: 10%;
    max-height: auto;
}

main {
    background-color: lavender;
}

h2 {
    text-align: center;
}

.quote {
    text-align: center;
    font-size: 275%;
    font-family: 'Lucida Handwriting';
}
    

#activity {
    text-align: center;
    text-decoration: underline;
}

#activity-container {
    display: flex;
    align-items: center;
    margin: 0 140px 0 140px;
}

img{
    max-width: 100%;
}

#img-col {
    flex-basis: 90%;
} 

#text-col {
    text-align: justified;
}

.footer-img {
    text-align: right;
    max-height: auto;
    max-width: 5%;
} 